<div class="background-container">

  <h2 class="title">#<%= @chatroom.name %></h2>

  <div class="messages" id="messages" data-chatroom-id="<%= @chatroom.id %>">

    <% @chatroom.messages.each do |message| %>
      <div class="message-container reciever" id="message-<%= message.id %>">
        <div class="icons ">
              <i class="author">

                <div class="avatar-chat d-flex ">
                <img src= <%= choose_avatar(message.user) %> class="card-job-user avatar-bordered" >
                </div>
                <span><%= message.user.nickname %></span>
                <div class="chat-color col-8 ">
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
                <p><%= message.content %></p>
                </div>
        </div>
      </div>
    <% end %>


</div>

    <%= simple_form_for [ @chatroom, @message ], html: { class: 'input-form' }, remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Send a Message", input_html: { class: 'text-field col-8' } %>
      <%= f.submit "Send Message" , class: 'btn btn-primary'%>
    <% end %>
