  <%= simple_form_for(job) do |f| %>

        <%= f.input :title %>
        <%= f.input :details, as: :text %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :date %>
        <%= f.input :duration %>
        <%= f.input :photo, as: :file %>

      <%= f.submit 'Offer your job', class:'btn-orange' %>
  <% end %>
  <div class="link">
    <button type="button" class="link" data-dismiss="modal">Back</button>
  </div>
