  <%= simple_form_for(job) do |f| %>

        <%= f.input :title %>
        <%= f.input :details, as: :text %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :date %>
        <%= f.input :duration %>
        <%= f.input :category, :collection=>Job.category, value: :name, include_blank: false, include_hidden: false %>
        <%= f.input :photo, as: :file %>

      <%= f.submit 'Offer your job', class:'btn-orange' %>
  <% end %>
  <div class="link">
    <%= link_to "Back", :back %>
  </div>
