<div class="show-container">
    <div class="row">
        <div class="job-details">
            <div class="img-container col-2">
                <%= image_tag choose_image(@job), class: "img-job" %>
            </div>
            <div class="job-info col-10">
                <h2><%= @job.title %></h2>
                <p>Details: <%= @job.details %></p>
                <table style="width: 100%", border=1 frame="BELOW" rules="NONE">
                    <thead>
                        <tr>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>Earning</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th colspan="6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @job.date %></td>
                            <td><%= @job.duration %> hours</td>
                            <td><%= @job.price %> euros</td>
                            <td><%= @job.location %></td>
                            <td><%= @job.category %></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="employer-container">
            <div class="avatar-container col-2">
                <img src= <%= choose_avatar(current_user) %> class="card-job-user avatar-bordered">
            </div>
            <div class="employer-info col-6">
                <h2><%= @job.user.first_name %> <%= @job.user.last_name %></h2>
                <h3>Introduction</h3>
                <p><%= @job.user.introduction %></p>
                <div class="employer-categories">
                    <td><%= @job.user.categories.each do |category| %>
                        <%= category.name %>
                        <%= choose_image_category(category)%>
                        <% end %>
                    </td>
                </div>
            </div>
            <div class="reviews col-4">
                <% if @job.bookings.where(user: current_user).present? %>
                    <h2>You booked!</h2>
                <% else %>
                    <%= link_to "Apply for this job", job_bookings_path(@job), method: :post, class:"btn-orange" %>
                <% end %>
                <div class="title">
                    <h1>Reviews</h1>
                </div>
                <% @job.user.jobs.each do |job| %>
                    <% job.reviews.each do |review|  %>
                        <div class="reviewer-details">
                            <img src= <%= choose_avatar(review.user) %> class="card-job-user avatar-bordered">
                            <div class="reviewer-name">
                                <h4><%= review.user.first_name %></h4>
                                <h4><%= review.rating %> / 5</h4>
                            </div>
                            <div class="review">
                                <p><%= review.comment %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
