<div class="show-container">
    <div class="row">
        <div class="job-details">
            <div class="img-container col-2">
                <%= image_tag choose_image(@job), class: "img-job" %>
            </div>
            <div class="job-info col-10">
                <h2><%= @job.title %></h2>
                <p>Details: <%= @job.details %></p>
                <table style="width: 100%", border=1 frame="BELOW" rules="NONE">
                    <thead>
                        <tr>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>Earning</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th colspan="6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @job.date %></td>
                            <td><%= @job.duration %></td>
                            <td><%= @job.price %> euros</td>
                            <td><%= @job.location %></td>
                            <td><%= @job.category %></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="apply">
                <% if @job.bookings.where(user: current_user).present? %>
                        <h2>You applied!</h2>
                <% elsif @job.user == current_user %>

                <% else %>
                        <%= link_to "Apply for this job", job_bookings_path(@job), method: :post, class:"btn-orange" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="employer-container">
            <div class="avatar-container col-2 mr-5">

                <img src= <%= choose_avatar(@job.user) %> class="card-job-user avatar-bordered">

            </div>
            <div class="employer-info col-6">
                <h2><%= @job.user.first_name %> <%= @job.user.last_name %></h2>
            <div class="title">
                <h3>Introduction</h3>
            </div>
                <p><%= @job.user.introduction %></p>
            <div class="title">
                <h3> <%= @job.user.first_name %> can help you with...</h3>
            </div>
                  <div class="employer-categories ">
                      <div class="d-flex row" >
                        <td><% @job.user.categories.each do |category| %>
                            <div class="icons d-flex col-6 row" >
                              <div class ="icons-name">
                              <h6> <%= category.name %></h6>
                              </div>
                              <div class="avatar-container col-6 row">
                                 <img src= <%= choose_image_category(category) %> class="card-job-user avatar-bordered" >
                              </div>
                            </div>
                            <% end %>
                        </div>
                      </td>
                  </div>
            </div>

            <div class="reviews col-4">
                <div class="title">
                    <h1>Reviews</h1>
                </div>
                <div class="scroll-reviews">
                    <% @job.user.jobs.each do |job| %>
                        <% job.reviews.where.not(user: current_user)each do |review|  %>
                            <div class="reviewer">
                                <img src= <%= choose_avatar(review.user) %> class="card-job-user avatar-bordered">
                                <div class="reviewer-name">
                                    <h4><%= review.user.first_name %></h4>
                                    <% if (review.rating) %>

                                        <div class="d-flex">
                                        <% review.rating.times do %>
                                            <i class="fas fa-star"></i>
                                        <% end %>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="review">
                                    <p><%= review.comment %></p>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
