<div class="form-container">
  <%= simple_form_for @job, url: confirm_job_path(@job, @booking), method: :patch do |f| %>

        <h2><%= @job.title %></h2>
        <p>Job description: <%= @job.details %><p>
        <p>Location: <%= @job.location %></p>
        <p>Category: <%= @job.category %></p>

        <%= f.input :price %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :duration, collection: Job.duration, default: Job.duration.first, wrapper_html: { class: 'inline-element' }, input_html: { class: 'form-element' } %>

      <%= f.submit 'Confirm', class:'btn-orange' %>

  <% end %>

  <div class="link">
    <%= link_to "Back", :back %>
  </div>
</div>
