<div class="background-container w-50">
    <div class="profile">
        <img src= <%= choose_avatar(@user) %> class="card-job-user avatar-bordered mr-3">
        <div class="title">
            <h2 class="mt-1"><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>
        <% if @user == current_user %>
            <div class="edit-button">
                <%= link_to 'Edit', edit_user_registration_path, class:"btn-orange" %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="title">
                <h2>Details</h2>
            </div>
            <p><%= @user.email %></p>
            <p><%= @user.address %></p>
            <div class="title">
                <h2>Introduction</h2>
            </div>
            <p><%= @user.introduction %></p>
            <div class="title">
                <h2>I'm good at...</h2>
            </div>
                <div class="employer-categories ">
                      <div class="d-flex row" >
                        <td><% @user.categories.each_with_index do |category, index| %>
                            <% if index.odd? %>
                                <div class="icons d-flex col-6 row" style="margin-left: 30px" >
                            <% else %>
                                <div class="icons d-flex col-6 row" >
                            <% end %>
                              <div class ="icons-name">
                              <h8> <%= category.name %></h8>

                              </div>
                              <div class="avatar-container col-6 row">
                                 <img src= <%= choose_image_category(category) %> class="card-job-user avatar-bordered" >
                              </div>
                            </div>
                            <% end %>
                        </div>
                      </td>
                  </div>
        </div>
        <div class="col-6">
            <div class="title">
                <h2>Reviews about me</h2>
            </div>
            <% @user.jobs.each do |job| %>
                <% job.reviews.each do |review|  %>
                    <div class="reviewer">
                        <img src= <%= choose_avatar(review.user) %> class="card-job-user avatar-bordered">
                        <div class="reviewer-name">
                            <h4><%= review.user.first_name %></h4>
                            <% review.rating.times do %>
                              <i class="fas fa-star"></i>
                            <% end %>

                        </div>
                        <div class="review">
                            <p><%= review.comment %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
