<div class="background-container w-50">
    <div class="profile">
        <img src= <%= choose_avatar(@user) %> class="card-job-user avatar-bordered mr-3">
        <div class="title">
            <h2 class="mt-1"><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="title">
                <h2>Details</h2>
            </div>
            <p><%= @user.email %></p>
            <p><%= @user.address %></p>
            <div class="title">
                <h2>Introduction</h2>
            </div>
            <p><%= @user.introduction %></p>
            <div class="title">
                <h2>My categories</h2>
            </div>
            <p>some icons</p>
        </div>
        <div class="col-6">
            <div class="title">
                <h2>Reviews about me</h2>
            </div>
            <% @user.jobs.each do |job| %>
                <% job.reviews.each do |review|  %>
                    <div class="reviewer">
                        <img src= <%= choose_avatar(review.user) %> class="card-job-user avatar-bordered">
                        <div class="reviewer-name">
                            <h4><%= review.user.first_name %></h4>
                            <h4><%= review.rating %> / 5</h4>
                        </div>
                        <div class="review">
                            <p><%= review.comment %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>