<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
  <%= link_to "My profile", users_show_path(current_user), class: "dropdown-item" %>
  <%= link_to "Jobs posted by me", jobs_path(my_jobs: true), class: "dropdown-item" %>
  <%= link_to "Jobs done by me", bookings_path, class: "dropdown-item" %>
  <%= link_to "Messages", chatrooms_path(), class: "dropdown-item" %>

  <div class="dropdown-divider"></div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>
