<% unless current_page?(root_path) %>
  <%= render 'shared/nav_item', path: jobs_path, text: 'Look for a job' %>

  <%= render 'shared/nav_item', path: new_job_path, text: 'Offer a job' %>
<% end %>

<li class="nav-item dropdown">
  <img src= <%= choose_avatar(current_user) %> class="card-job-user avatar-bordered" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">



  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "My profile", users_show_path(current_user), class: "dropdown-item" %>
    <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "Jobs posted by me", jobs_path(my_jobs: true), class: "dropdown-item" %>
    <%= link_to "Jobs done by me", bookings_path, class: "dropdown-item" %>
    <%= link_to "Messages", "#", class: "dropdown-item" %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
  <%= render 'shared/avatar_dropdown' %>

</li>
