  
<div class="background-container">
  <% @order.booking.update(paid: true) %>

  <div class="container">
    <div class="row py-4">

      <div class="col">
        <h1>Payment successful for order #<%= @order.id %></h1>
        <ul class="list-unstyled">
          <li><strong>ISSUED ON:</strong> <%= @order.created_at.to_date %></li>
          <li><strong>JOB:</strong> <%= @order.booking.job.title %></li>
          <li><strong>FROM:</strong> <%= @order.booking.job.user.first_name %> <%= @order.booking.job.user.last_name %></li>
          <li><strong>TO:</strong> <%= @order.booking.user.first_name %> <%= @order.booking.user.last_name %> </li>

          <li><strong>TOTAL:</strong> <%= humanized_money_with_symbol @order.amount %></li>
          </li>
        </ul>
        <p>Estimated delivery in <strong>2 business days</strong></p>
        <%= link_to "My jobs", jobs_path(my_jobs: true), class:"btn-orange" %>
      </div>
    </div>
  </div>
</div>